{% extends "base.html" %}

{% block content %}

<h1>Question is:</h1>
<h2>{{question.subject}}</h2>
{{question.content}}

<h1>Add answer</h1>
<form action="" method="post" name="add_answer">
    {{form.hidden_tag()}}
    <p>
        Content:<br>
        {{form.content}}<br>
    </p>
    <p>{{form.submit}}</p>

</form>

{% endblock %}

