{% extends "base.html" %}

{% block content %}

<h1>Add question</h1>
<form action="" method="post" name="add_question">
    {{form.hidden_tag()}}
    <p>
        Subject:<br>
        {{form.subject}}<br>
        Content:<br>
        {{form.content}}<br>
    </p>
    <p>{{form.submit}}</p>

</form>

{% endblock %}

