{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="row">
        <h1>Question is:</h1>
            <h2>{{question.subject}}</h2>
                {{question.content}}

        <h1>Add answer here:</h1>
            {% call macros.render_form(form, action_text='Add answer') %}
                {{ macros.render_field(form.content,
                                       label_visible=false,
                                       placeholder='Your answer',
                                       type='text',
                                       rows = '5') }}
    </div>

            {% endcall %}
{% endblock content %}