{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="row">
            <div class="login-message">
                <h1>Ask Your Question Here:</h1>
            </div>
            {% call macros.render_form(form, action_url=url_for('add_question'), action_text='Add question') %}
                {{ macros.render_field(form.subject,
                                       label_visible=false,
                                       placeholder='Subject',
                                       type='text',
                                       ) }}
                {{ macros.render_field(form.content,
                                       label_visible=false,
                                       placeholder='Ask Your Question',
                                       type='text',
                                       rows = '5') }}

            {% endcall %}
    </div>
{% endblock content %}