<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Answers</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('main')}}">Your Answer Here</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('main')}}">Questions</a></li>
                        <li><a href="{{ url_for('add_question') }}">Add question</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated() %}
                            <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Sign In</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container">


        <div>
            {% block content %}{% endblock %}
        </div>

    </div>

    </body>
</html>
