{% extends "base.html" %}

{% block content %}

<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Email:<br>
        {{form.email}}<br>
        Password:<br>
        {{form.password}}<br>
    </p>

    <p>{{form.remember_me}} Remember Me</p>

    <p>{{form.submit}}</p>
</form>

{% endblock %}

