{% extends "base.html" %}

{% block content %}

<div>
    <h1> QUESTIONS: </h1>
    {% for question in questions %}
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url_for('question', question_id=question.id) }}"><h2>{{question.subject}}</h2></a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

