{% extends "base.html" %}

{% block content %}

<div>
    <div class="row">
            <div class="col-md-12">
                <h1>{{question.subject}}</h1>
            </div>
            <div class="col-md-12">
                <h2>{{question.content}}</h2>
            </div>

        </div>

        <p><a href="{{ url_for('add_answer', question_id=question.id) }}">Add answer</a></p>

    <h3>The answers</h3>
        {% for answer in question.answers%}
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-1">
                    <a href="{{ url_for('voting', answer_id=answer.id, question_id=question.id)}}">
                        <i class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>
                    </a></div>
                <div class="col-md-1" style="background-color:lavender;">{{answer.votes}}</div>
                <div class="col-md-10" style="background-color:lavenderblush;">{{answer.content}}</div>
        </div>
        {% endfor %}
</div>

{% endblock %}

