{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
            <div class="login-message">
                Register to Our Service!
            </div>
            {% call macros.render_form(form, action_url=url_for('register'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.username, label_visible=false, placeholder='Username', type='name') }}
                {{ macros.render_field(form.email, label_visible=false, placeholder='Email', type='email') }}
                {{ macros.render_field(form.password, label_visible=false, placeholder='Password', type='password') }}
                {{ macros.render_field(form.password2, label_visible=false, placeholder='Confirm password', type='password') }}
            {% endcall %}
        </div>
    </div>
{% endblock content %}