<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Answers</title>
        <meta charset="utf-8">
    </head>

    <body>
		Dear {{ user.user_name }},<br>
		Welcome to Answers!<br>
		To confirm your account please click on the following link:<br>
		{{ token}}<br>
		Sincerely,<br>
		The Answers Team<br>
		Note: replies to this email address are not monitored.

</html>
