{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Username:<br>
        {{form.username}}<br>
        Email:<br>
        {{form.email}}<br>
        Password:<br>
        {{form.password}}<br>
        Confirm password:<br>
        {{form.password2}}<br>
    </p>

    <p>{{form.submit}}</p>

</form>

{% endblock %}

